<h1>Standford Related Tweets</h1>

<ul id="tweetList" class="group-item">
	<li class="list-group-item">
		<div class="Htitle"><h2 class="userName">Bob </h2><h4 class="UserLoc">Location</h4></div>
		<p class="tweet">Blah Blah Blah!</p>
		<h5 class="time">March 15th</h5>
		<h3 class="faved">3 Favorites</h3>
	</li>


</ul>

<div class="tweets"></div>