<h1>Standford Related Tweets</h1>

<div class="myList">
    <input class="search" placeholder="Search" />
    <button class="sort" data-sort="userName">
      Sort by name
    </button>
    <button class="sort" data-sort="time">
      Sort by date
    </button>
	<ul id="tweetList" class="group-item list">
		<li class="list-group-item">
			<div class="Htitle">
				<h2 class="userName"></h2>
				<p class="UserLoc"></p>
			</div>
			<p class="tweet"></p>
			<div class="footer">
				<h5 class="time"></h5>
				<h3 class="faved"></h3>
			</div>
		</li>
	</ul>
</div>