
<div id="postBox">
	<form>
		<input type="text" id="userName"><br>
		<textarea id="tweetPost" name="address"cols="30" rows="4"></textarea><br>
		<input type="submit" id="sendTweet" value="Submit">
	</form>
</div>

<div id="mainBox">
	<span class="anchor" id="section1"></span>
	<h1>Top Standford Tweets</h1>
	    <div id="topTweeters">
	    	<h2 id="reTweetHeader">Postings with over 10 reTweets</h2>
	    	<ul>
	    	</ul>
	    </div>
	<span class="anchor" id="section2"></span>
	<h1>Top Locations of Tweets.</h1>
		<div id="topLocations">
			<ul id="locationTweetList">	
			</ul>
		</div>
	<span class="anchor" id="section3"></span>
	<h1>#Standford Tweet List</h1>
	<div id="myList">
	    <input class="search" placeholder="Search" />
	    	<span class="bodyText">Sort By:</span>
	    <button class="sort" data-sort="userName">
	      Name
	    </button>
	    <button class="sort" data-sort="time">
	      Date
	    </button>
	    <button class="sort" data-sort="faved">
	      Favorite Count
	    </button>
	    <button class="sort" data-sort="reTweet">
	    	ReTweets
	    </button>
		<ul id="tweetList" class="group-item list">

		</ul>
	</div>
</div>
